@model AccountDetailsViewModel

<div class="content-box-account-details">
    <h1 class="title">Account Details</h1>

    <form method="post" class="basic-info" asp-controller="Account" asp-action="BasicInfo">

        <h5 class="form-title">Basic Info</h5>

        <div class="group-wrapper">
            <div class="input-group">
                <label asp-for="@Model.BasicForm.FirstName"></label>
                <span asp-validation-for="@Model.BasicForm.FirstName"></span>
                <input asp-for="@Model.BasicForm.FirstName">
            </div>
            <div class="input-group">
                <label asp-for="@Model.BasicForm.LastName"></label>
                <span asp-validation-for="@Model.BasicForm.LastName"></span>
                <input asp-for="@Model.BasicForm.LastName">
            </div>
        </div>

        <div class="group-wrapper">
            <div class="input-group">
                <label asp-for="@Model.BasicForm.Email"></label>
                <span asp-validation-for="@Model.BasicForm.Email"></span>
                <input asp-for="@Model.BasicForm.Email">
            </div>
            <div class="input-group">
                <label asp-for="@Model.BasicForm.Phone"></label>
                <span asp-validation-for="@Model.BasicForm.Phone"></span>
                <input asp-for="@Model.BasicForm.Phone">
            </div>
        </div>

        <div class="input-group">
            <label asp-for="@Model.BasicForm.Biography"></label>
            <span asp-validation-for="@Model.BasicForm.Biography"></span>
            <textarea asp-for="@Model.BasicForm.Biography" rows="4"></textarea>
        </div>

        <div class="button-wrapper">
            <button class="cancel btn-gray" type="reset">Cancel</button>
            <button class="save btn-theme" type="submit">Save changes</button>
        </div>

    </form>

    <div class="divider"></div>

    <form method="post" class="address" asp-controller="Account" asp-action="AddressInfo">

        <h5 class="form-title">Address</h5>

        <div class="input-group">
            <label asp-for="@Model.AddressForm.AddresLine_1"></label>
            <span asp-validation-for="@Model.AddressForm.AddresLine_1"></span>
            <input asp-for="@Model.AddressForm.AddresLine_1">
        </div>

        <div class="input-group">
            <label asp-for="@Model.AddressForm.AddressLine_2"></label>
            <span asp-validation-for="@Model.AddressForm.AddressLine_2"></span>
            <input asp-for="@Model.AddressForm.AddressLine_2">
        </div>

        <div class="group-wrapper">
            <div class="input-group">
                <label asp-for="@Model.AddressForm.PostalCode"></label>
                <span asp-validation-for="@Model.AddressForm.PostalCode"></span>
                <input asp-for="@Model.AddressForm.PostalCode">
            </div>
        <div class="input-group">
            <label asp-for="@Model.AddressForm.City"></label>
                <span asp-validation-for="@Model.AddressForm.City"></span>
                <input asp-for="@Model.AddressForm.City">
        </div>
        </div>      

        <div class="button-wrapper">
            <button class="cancel btn-gray" type="reset">Cancel</button>
            <button class="save btn-theme" type="submit">Save changes</button>
        </div>

    </form>
</div>

<script defer src="~/js/validation.js"></script>
