@model SubscribeViewModel
<section class="subscribe">
    <div class="container">
        <form method="post" asp-controller="Home" asp-action="Index" novalidate>
            <h1>@Model.Title</h1>
            <img class="blue-squiggle" src="@Model.Image.ImageUrl" alt="@Model.Image.AltText">

            <div class="checkbox-wrapper">
                <h5>@Model.Subheading</h5>

                <div class="grid-container">
                    @if (Model.Checkboxes.Count >= 1)
                    {
                        foreach (var checkbox in Model.Checkboxes)
                        {
                            <div class="grid-item">
                                <input id="@checkbox.Id" type="checkbox">
                                <label for="@checkbox.Id">@checkbox.Text</label>
                            </div>                                
                        }
                    }
                </div>
            </div>

            <div class="subscribe-wrapper">
                <input asp-for="@Model.Email.Email" placeholder="&#9993 Enter your Email" />
                <span asp-validation-for="@Model.Email.Email"></span>
                <button class="btn-theme card" type="submit">Subscribe*</button>
            </div>

            <span class="terms-policy">* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</span>
        </form>
    </div>
</section>