@model CoursesViewModel

<section class="courses">
    <div class="container">
        <div class="top-row">

            <h1>@Model.Title</h1>

            <div class="top-right">

                <div class="select">
                    <div class="selected">All Categories</div>
                    <div class="select-options">
                        <div class="option" data-value="all">All Categories</div>
                        @if (Model.Categories != null && Model.Categories.Count() > 0)
                        {
                            foreach (var category in Model.Categories)
                            {
                                <div class="option" data-value="@category.CategoryName">@category.CategoryName</div>
                            }
                        }
                    </div>
                </div>

                <div class="search-wrapper">
                    <input class="search-field" type="search" name="searchQuery" id="searchQuery" placeholder="Search courses" />
                    <i class="fa-light fa-search"></i>
                </div>

            </div>
        </div>

        <div class="grid-container items">
            @if (@Model.Courses.Count() >= 1)
            {
                foreach (var course in Model.Courses)
                {
                    <div class="grid-item" onclick="location.href='@Url.Action("Details", "Courses", new { id = course.Id })'">
                        <div class="img-wrapper">
                            <img class="course-image" src="@course.ImageUrl" alt="@course.AltText">
                            <p class="@(course.BestSeller ? "best-seller" : "hidden")">Best Seller</p>
                        </div>
                        <a class="bookmark-wrapper">
                            <div class="circle">
                                @* NEED LOGIC HERE FOR LOOPING THROUGH CORRESPONDING BOOKMARKS *@
@*                                 <img class="@(course.Bookmark != true ? "bookmark" : "bookmark hidden")" src="/img/bookmark.svg" alt="Bookmark">
                                <img class="@(course.Bookmark == true ? "bookmark-filled" : "bookmark-filled hidden")" src="/img/bookmark-filled.svg" alt="Bookmark Filled in"> *@
                            </div>
                        </a>
                        <div class="text-wrapper">
                            <h5>@course.Title</h5>
                            <span class="by">By</span><span class="author">@course.Author</span>
                            <div class="price-wrapper">
                                <div class="@(course.DiscountPrice >= 1 ? "discount-price" : "hidden")"><span>@course.Currency</span><span>@course.DiscountPrice</span></div>
                                <div class="@(course.DiscountPrice >= 1 ? "price discount-applied" : "price")"><span>@course.Currency</span><span>@course.Price</span></div>
                            </div>
                            <div class="divider"></div>
                            <div class="description-wrapper">
                                <!-- maybe replace html unicode with font awesome icons instead? -->
                                <span class="description">&#128340 @course.LengthInHours hours</span>
                                <span class="description">&#128077 @course.Rating</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="pagination">
            <ol class="list-wrapper">
                <ul class=""><</ul>
                <ul class="">1</ul>
                <ul class="btn-gray">2</ul>
                <ul class="btn-theme">3</ul>
                <ul class="">4</ul>
                <ul class="">></ul>
            </ol>
        </div>

        <div class="get-started">
            <div class="text-wrapper">
                <p>Ready to get started?</p>
                <h2>Take Your<span class="theme-text"> Skill </span>to the Next Level</h2>
                <button class="btn-theme">Work with us</button>
            </div>
            <div class="image-wrapper">
                <img src="/img/office-worker.png" alt="">
            </div>
        </div>

    </div>

    <script src="~/js/coursesFilter.js"></script>
</section>