@model CoursesViewModel


<section class="courses">
    <div class="container">
        <div class="top-row">

            <h1>@Model.Title</h1>

            <div class="top-right">

                <div class="select">

                    <svg xmlns="http://www.w3.org/2000/svg" class="drop-down-icon" pointer-events="inherit" viewBox="0 0 448 512">
                        <path
                            fill="currentColor"
                            d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
                            />
                    </svg>

                    <div class="selected">All Categories</div>
                    <div class="select-options">
                        <div class="option" data-value="all">All Categories</div>
                        @if (Model.Categories != null && Model.Categories.Count() > 0)
                        {
                            foreach (var category in Model.Categories)
                            {
                                <div class="option" data-value="@category.CategoryName">@category.CategoryName</div>
                            }
                        }
                    </div>
                </div>

                <div class="search-wrapper">
                    <input class="search-query" name="searchQuery" id="searchQuery" placeholder="Search courses" />
                    <i class="fa-light fa-search"></i>
                </div>

            </div>
        </div>

        <div class="grid-container items">
            @if (@Model.Courses.Count() >= 1)
            {
                foreach (var course in Model.Courses)
                {
                    <form class="bookmark-form" id="bookmarkForm" method="post" action="@Url.Action("BookmarkCourse", "Account", new { courseId = course.Id })">

                        <a class="grid-item" asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">                  
                            <div class="img-wrapper">
                                <img class="course-image" src="@course.ImageUrl" alt="@course.AltText">
                                <p class="@(course.BestSeller ? "best-seller" : "hidden")">Best Seller</p>
                            </div>

                            <span class="bookmark-circle" onclick="submitForm(event)">
                                @if (@Model.SavedCourses.Count() > 0)
                                {
                                    @foreach (var savedCourse in @Model.SavedCourses)
                                    {
                                        if (course.Id == savedCourse.CourseId)
                                        {
                                            //gets filled in because the icon i solid.
                                            <i class="fa-solid fa-bookmark bookmark-filled"></i>                                            
                                        }
                                        else
                                        {
                                            // doesnt get filled in because the icon is only a border.
                                            <i class="fa-light fa-bookmark bookmark-empty"></i>
                                        }
                                    }
                                }
                                else
                                {
                                    <i class="fa-light fa-bookmark bookmark-empty"></i>
                                }
                            </span>

                            <div class="text-wrapper">

                                <div class="text-title">
                                    <h5 class="course-title">@course.Title</h5>
                                </div>

                                <div class="text-rest">
                                    <span class="by">By</span><span class="author">@course.Author</span>
                                    <div class="price-wrapper">
                                        <div class="@(course.DiscountPrice >= 1 ? "discount-price" : "hidden")">@course.Currency@course.DiscountPrice</div>
                                        <div class="@(course.DiscountPrice >= 1 ? "price discount-applied" : "price")">@course.Currency@course.Price</div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="description-wrapper">
                                        <!-- maybe replace html unicode with font awesome icons instead? -->
                                        <span class="description"><i class="fa-light fa-clock"></i> @course.LengthInHours hours</span>
                                        <span class="description"><i class="fa-light fa-thumbs-up"></i> @course.Rating</span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </form>
                }
            }
        </div>

        @if (Model.Pagination != null && Model.Pagination.TotalPages > 1)
        {
            <div class="pagination">
                @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
                {
                    if (i == Model.Pagination.CurrentPage)
                    {
                        <span class="btn-theme">@i</span>
                    }
                    else
                    {
                        <a class="btn-gray" href="@Url.Action("Index", new { pageNumber = i, pagesize = Model.Pagination.PageSize})">@i</a>
                    }
                }
            </div>
        }

        <div class="get-started">
            <div class="text-wrapper">
                <p>Ready to get started?</p>
                <h2>Take Your<span class="theme-text"> Skill </span>to the Next Level</h2>
                <button class="btn-theme">Work with us</button>
            </div>
            <div class="image-wrapper">
                <img src="/img/office-worker.png" alt="">
            </div>
        </div>

    </div>

    <script src="~/js/coursesFilter.js"></script>
</section>
