@model AdminContactViewModel

@{
    ViewData["Title"] = "Admin Contact forms";
}

<section class="admin-contact">

    <div class="container">

        <div class="top-left">
            @await Html.PartialAsync("~/Views/Shared/Sections/Admin/_AdminNavPartial.cshtml")

            <h1>Contact Forms</h1>
            <span class="@(ViewData["StatusMessage"]!.ToString()! ==  "Success - Contact updated" ? "success-message" : ViewData["StatusMessage"]!.ToString()! ==  "Error - somethings went wrong" ? "error-message" : "hidden")">@ViewData["StatusMessage"]</span>
        </div>

        <div class="grid-container">

            @if (Model.ContactForms.Count() >= 1)
            {
                @foreach (AdminContactModel contact in Model.ContactForms)
                {
                    <div class="form-wrapper">

                        <form method="post" asp-action="UpdateContact" asp-controller="Admin" novalidate>

                            <div class="input-group">
                                <label asp-for="@contact.Id"></label>
                                <span asp-validation-for="@contact.Id"></span>
                                <input asp-for="@contact.Id" readonly>
                            </div>

                            <div class="input-group">
                                <label asp-for="@contact.FullName"></label>
                                <span asp-validation-for="@contact.FullName"></span>
                                <input asp-for="@contact.FullName">
                            </div>

                            <div class="input-group">
                                <label asp-for="@contact.Email"></label>
                                <span asp-validation-for="@contact.Email"></span>
                                <input asp-for="@contact.Email">
                            </div>

                            <div class="input-group">
                                <label asp-for="@contact.Services"></label>
                                <select asp-for="@contact.Services">
                                    <option disabled selected style="display: none;">Choose the service you are interested in</option>
                                    <option value="Consulting">Consulting</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <label asp-for="@contact.Message"></label>
                                <span asp-validation-for="@contact.Message"></span>
                                <textarea asp-for="@contact.Message" rows="4"></textarea>
                            </div>

                            <div class="button-group">
                                <a class="btn-theme" href="/admin/contactdetails/@contact.Id">Go to form</a>
                            </div>

                        </form>

                    </div>
                }
            }
        </div>
    </div>

</section>
