@model AccountSecurityViewModel

<div class="content-box-security">

    <h1 class="title">@Model.Title</h1>

    <div class="@((@Model.ErrorMessage == "Failed to update password") ? "update-failed" : ((@Model.ErrorMessage == "Account could not be deleted") ? "delete-failed" : "hidden"))">@Model.ErrorMessage</div>


    @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountSecurityUpdatePasswordPartial.cshtml", Model.Form )

    <div class="divider"></div>

    @await Html.PartialAsync("~/Views/Shared/Sections/Account/_AccountSecurityDeletePartial.cshtml", Model.DeleteAccount)

</div>