@model AdminContactModel

<div class="form-wrapper">

    <form method="post" asp-action="UpdateContact" asp-controller="Admin" novalidate>

        <div class="input-group">
            <label asp-for="@Model.Id"></label>
            <span asp-validation-for="@Model.Id"></span>
            <input asp-for="@Model.Id" readonly>
        </div>

        <div class="input-group">
            <label asp-for="@Model.FullName"></label>
            <span asp-validation-for="@Model.FullName"></span>
            <input asp-for="@Model.FullName">
        </div>

        <div class="input-group">
            <label asp-for="@Model.Email"></label>
            <span asp-validation-for="@Model.Email"></span>
            <input asp-for="@Model.Email">
        </div>

        <div class="input-group">
            <label asp-for="@Model.Services"></label>
            <select asp-for="@Model.Services">
                <option disabled selected style="display: none;">Choose the service you are interested in</option>
                <option value="Consulting">Consulting</option>
            </select>
        </div>

        <div class="input-group">
            <label asp-for="@Model.Message"></label>
            <span asp-validation-for="@Model.Message"></span>
            <textarea asp-for="@Model.Message" rows="4"></textarea>
        </div>

        <div class="button-group">
            <button class="btn-theme submit" type="submit">Save changes</button>
            <button class="btn-gray" type="reset">Cancel</button>
        </div>

    </form>

    <form class="form-delete" method="post" asp-action="DeleteContact" asp-controller="Admin" novalidate>

        <div class="input-group hidden">
            <label asp-for="@Model.Id"></label>
            <span asp-validation-for="@Model.Id"></span>
            <input asp-for="@Model.Id" readonly>
        </div>

        <button type="submit" class="btn-delete-all">Delete</button>

    </form>

</div>
