@model AccountSavedCoursesViewModel

<div class="content-box-saved-courses">

    <form method"post" asp-controller="Account" asp-action="DeleteAllSavedCourses" class="top-wrapper">
        <h1 class="title">Saved Items</h1>
        <button type="submit" class="btn-delete-all"><i class="fa-light fa-trash"></i> Delete all</button>
    </form>

    <div class="grid-container">
        @if (@Model.SavedCourses.Count() > 0)
        {
            foreach (var course in Model.Courses)
            {
                foreach (var savedCourse in Model.SavedCourses!)
                {
                    if (savedCourse.CourseId == course.Id)
                    {
                        <form class="bookmark-form" id="bookmarkForm" method="post" action="@Url.Action("BookmarkCourse", "Account", new { courseId = course.Id })">

                            <a class="grid-item card" asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">
                                <div class="img-wrapper">
                                    <img class="course-image" src="/img/courses/@course.ImageUrl" alt="@course.AltText">
                                    <p class="@(course.BestSeller ? "best-seller" : "hidden")">Best Seller</p>
                                </div>

                                <span class="bookmark-circle" onclick="submitForm(event)">
                                    @if (Model.SavedCourses != null &&  Model.SavedCourses.Count() > 0)
                                    {
                                            if (course.Id == savedCourse.CourseId)
                                            {
                                                <i class="fa-solid fa-bookmark bookmark-filled"></i>
                                            }
                                            else
                                            {
                                            <i class="fa-solid fa-bookmark bookmark-empty"></i>
                                        }
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-bookmark bookmark-empty"></i>                                        
                                    }

                                </span>

                                <div class="text-wrapper">

                                    <div class="text-title">
                                        <h5 class="course-title">@course.Title</h5>
                                    </div>

                                    <div class="text-rest">
                                        <span class="by">By</span><span class="author">@course.Author</span>
                                        <div class="price-wrapper">
                                            <div class="@(course.DiscountPrice >= 1 ? "discount-price" : "hidden")">@course.Currency@course.DiscountPrice</div>
                                            <div class="@(course.DiscountPrice >= 1 ? "price discount-applied" : "price")">@course.Currency@course.Price</div>
                                        </div>
                                        <div class="divider"></div>
                                        <div class="description-wrapper">
                                            <!-- maybe replace html unicode with font awesome icons instead? -->
                                            <span class="description"><i class="fa-light fa-clock"></i> @course.LengthInHours hours</span>
                                            <span class="description"><i class="fa-light fa-thumbs-up"></i> @course.Rating</span>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </form>
                    }
                }
            }
        }

    </div>
    <script src="~/js/coursesFilter.js"></script>
</div>
